<div *ngIf="users === undefined">
    <p *ngIf="userErr === undefined" class="alert alert-info" (click)="onLoadClick($event)">
        <ngb-progressbar type="success" [value]="100" [striped]="true" [animated]="true"></ngb-progressbar>
        I lod grod die Daten.
    </p>
    <p *ngIf="userErr !== undefined" class="alert alert-danger" (click)="onErrorClick($event)">
        Fehler is do: {{ userErr.message }}
    </p>
</div>

<table *ngIf="users !== undefined" class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th>Vorname</th>
      <th>Nachname</th>
      <th>Klasse</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let u of users; let i=index" (click)="onUserClick(u)" style="cursor:pointer">
      <td>{{ i+1 }}</td>
      <td>{{u.firstname}}</td>
      <td>{{u.surname}}</td>
      <td>{{u.class}}</td>
    </tr>
  </tbody>
</table>
