<p *ngIf="users === undefinded">
  Keine Benutzerdaten verfügbar
  </p>
<p *ngIf="userErr !== undefinded">
  Fehler beim Laden der Benutzerdaten: {{userErr.message}}
</p>
  <table *ngIf="users !== undefined" class="table table-hover table-sm table-inverse">
    <thead>
      <tr>
        <th>#</th>
        <th>Nachname</th>
        <th>Vorname</th>
        <th>Klasse</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of users; let i=index" (click)="onUserClick(u)">
        <td>{{i+1}}</td>
        <td>{{u.surname}}</td>
        <td>{{u.firstname}}</td>
        <td>{{u.classname}}</td>
      </tr>
    </tbody>
  </table>
