
body {
    background-color: red;
}


p {
    background-color: lightblue;
    border: solid 2px yellow;
    text-align: center;
}

#absatz2 {
    border: solid 5px black;
}
/* ID -> kann nur einem Element zugewiesen werden */

.yellowAbsaetze {
    background-color: yellow;
}
/*Klasse kann von mehreren verwendet werden. 

Selektoren -> Fachbegriff  für die Elemente in CSS-Datei*/