doctype html
html(lang="de")
    head
        title = "Testseite mit pug rendering"
        meta(charsdet="UTF-8")
        link(rel="stylesheet" href="mystyle.css")
    body
        h1 Seite mit pug generiert
        p Counter #{counter}