<div *ngIf="users === undefined">
<p *ngIf="userErr === undefined"> <ngb-progressbar type="success" [value]="100" [striped]="true" [animated]="true"></ngb-progressbar></p>
<p>
  Benutzerdaten werden geladen
</p>
<P *ngIf="userErr!== undefined">
    Fehler beim Laden der Benutzerdaten: {{userErr.message}}
</P>
</div>

<table *ngIf="users !== undefined" class="table table-hover">
    <thead>
      <tr>
        <th>Nummer</th>
        <th>Nachname</th>
        <th>Vorname</th>
        <th>Gewicht</th>
        <th>#</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <tr *ngFor="let u of users; let i=index" (click)="onUserClick(u)" style="cursor:pointer"> 
        <td>{{ u.number }}</td>
        <td>{{ u.surname }}</td>
        <td>{{ u.firstname }}</td>
        <td>{{ u.weight }}</td>
        <td>{{i+1}}</td>
      </tr>
    </tbody>
</table>