doctype html
html(lang="de")
    head
        title = "Testseite mit pug rendering"
        meta(charset="UTF-8")
        link(rel="stylesheet" href ="myStyle.css")
    body
        h1 Seite mit pug generiert
        p Das ist der erste Absantz
        p Counter #{counterValue}
