doctype html
html(lang="de")
    head
        title="ue06 - Bootstrap"
        meta(charset="UTF-8")
        //- link(rel="stylesheet" href="myStyle.css")
    body
        h1 Seite mit pug generiert 
        p Das ist ein Absatz
        //- p Counter #{counterValue}