<table class="table table-hover table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nachname</th>
            <th scope="col">Vorname</th>
            <th scope="col">Klasse</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let u of users; let i=index" (click)="onUserClick(u)" style="cursor: pointer">
            <td>{{i+1}}</td>
            <td>{{u.surname}}</td>
            <td>{{u.firstname}}</td>
            <td>{{u.classname}}</td>
        </tr>
    </tbody>
</table>